{% extends "base.html" %}
{% block content %}

<div class="card">

  <h2>
    {% if editar %}
      Editar refeição
    {% else %}
      Adicionar refeição
    {% endif %}
  </h2>

  <form method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}

   <p><small>
O sistema tentará buscar automaticamente as informações nutricionais.
Se não encontrar, preencha manualmente.
</small></p>

    <div class="form-group">
      <label>Alimento</label>

<input 
type="text" 
name="nome" 
id="id_nome" 
autocomplete="off"
placeholder="Digite o alimento..."
>

<div id="sugestoes" class="sugestoes"></div>

<p id="status-api"></p>
      {{ form.porcao }}
    </div>

    <hr>
    <p><strong>Informações nutricionais (por 100g)</strong></p>

    <div class="form-group">
      <label>Carboidratos</label>
      {{ form.carboidratos }}
    </div>

    <div class="form-group">
      <label>Proteínas</label>
      {{ form.proteinas }}
    </div>

    <div class="form-group">
      <label>Gorduras</label>
      {{ form.gorduras }}
    </div>

    <button type="submit">
      {% if editar %}
        Salvar alterações
      {% else %}
        Salvar refeição
      {% endif %}
    </button>
  </form>

</div>
<script>
document.addEventListener("DOMContentLoaded", function() {

    const campoNome = document.getElementById("id_nome")
    const carbo = document.getElementById("id_carboidratos")
    const prot = document.getElementById("id_proteinas")
    const gord = document.getElementById("id_gorduras")
    const status = document.getElementById("status-api")

    campoNome.addEventListener("blur", function(){

        let nome = campoNome.value

        if(nome.length < 3){
            return
        }

        fetch(`/refeicoes/buscar-alimento/?nome=${nome}`)
        .then(response => response.json())
        .then(data => {

            if(data.encontrado){

                carbo.value = data.carboidratos
                prot.value = data.proteinas
                gord.value = data.gorduras

                status.innerHTML = "✅ Alimento encontrado na base nutricional"

            }else{

                status.innerHTML = "⚠️ Alimento não encontrado. Preencha manualmente."

            }

        })
    })

})
</script>

<script>

const campo = document.getElementById("id_nome")
const sugestoesBox = document.getElementById("sugestoes")

campo.addEventListener("input", function(){

    let valor = campo.value

    if(valor.length < 2){
        sugestoesBox.innerHTML = ""
        return
    }

    fetch(`/refeicoes/autocomplete/?term=${valor}`)
    .then(res => res.json())
    .then(data => {

        sugestoesBox.innerHTML = ""

        data.forEach(item => {

            let div = document.createElement("div")
            div.classList.add("sugestao-item")
            div.innerText = item

            div.onclick = function(){

                campo.value = item
                sugestoesBox.innerHTML = ""

            }

            sugestoesBox.appendChild(div)

        })

    })

})

</script>
{% endblock %}
