{% extends 'base.html' %}
{% block content %}

<h2>Histórico alimentar</h2>

{% for dia in dias %}
  <div class="card">
    <h3>{{ dia.data }}</h3>
    <p><strong>Total do dia:</strong> {{ dia.total|floatformat:0 }} kcal</p>

    <ul class="lista-alimentos">
      {% for r in dia.itens %}
        <li>
          <strong>{{ r.nome }}</strong><br>

          <small>
            Porção: {{ r.porcao }} g<br>
            Valores por 100g →
            C {{ r.carboidratos }} g |
            P {{ r.proteinas }} g |
            G {{ r.gorduras }} g
          </small>
        </li>
      {% endfor %}
    </ul>
  </div>
{% empty %}
  <p>Nenhum registro ainda.</p>
{% endfor %}

{% endblock %}
