@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
  --verde: #4CAF50;
  --verde-escuro: #16771b;
  --fundo: #f4f7f6;
  --card: #ffffff;
  --texto: #333;
  --cinza: #777;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: var(--fundo);
  color: var(--texto);
}

header {
  background: var(--card);
  padding: 20px 40px;
  box-shadow: 0 2px 10px rgba(0,0,0,.05);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  color: var(--verde);
  font-weight: 600;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: var(--cinza);
  font-weight: 500;
}

nav a:hover {
  color: var(--verde);
}

main {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
}

.card {
  background: var(--card);
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(0,0,0,.05);
  margin-bottom: 30px;
}

.card h2 {
  margin-bottom: 15px;
  color: var(--verde-escuro);
}

form {
  display: grid;
  gap: 15px;
}

input, select, button {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
}

button {
  background: var(--verde);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

button:hover {
  background: var(--verde-escuro);
  transition: ease-in-out 0.5s;
}

.feedback {
  margin-top: 15px;
}

.feedback p {
  background: #e8f5e9;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 5px;
  font-size: 14px;
}

.historico li {
  padding: 15px;
  background: #fafafa;
  border-radius: 10px;
  margin-bottom: 10px;
  list-style: none;
}

.lista-alimentos {
  margin-top: 10px;
  padding-left: 20px;
}

.lista-alimentos li {
  margin-bottom: 6px;
  color: #444;
}

.macros {
  color: #777;
  font-size: 0.85rem;
}

.logout-btn {
  background-color: #7edfa2;
  border: none;
  color: #065f46;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: 600;
  transition: background 0.3s ease, transform 0.2s ease;
}

.logout-btn:hover {
  background-color: #30cc69;
  transform: translateY(-1px);
}


.progress {
  width: 100%;
  height: 14px;
  background: #e5e7eb;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 0;
}

.progress-fill {
  height: 100%;
  background: linear-gradient(90deg, #7edfa2, #30cc69, #078f39);
  transition: width 0.4s ease;
}

.progress-fill {
  width: calc(var(--percentual) * 1%);
}


.percentual {
  font-size: 0.9rem;
  color: #374151;
}
